{% extends 'base.html' %}

{% block title %}
Welch Sermons
{% endblock %}

{% block header %}
    <h1>Search</h1>
{% endblock %}

{% block content %}


    <form method="post">
        <input name="query" type="text" id="query" />
        <input type="submit" value="Search" />
    </form>

    {% for r in results %}

        <div>
            <a href="{{ url_for("post.view", title=r["title"]) }}">{{ r["title"] }}</a>
        </div>
        <div>
            {{ r["meta"] }}
        </div>

    {% endfor %}

{% endblock %}